body {
  background-color: #1d1517;
  color: #c9d1d9;
  padding: 0 30px;
  width: 100%;
}

.content {
  padding: 30px 0;
}

a {
  color: #58a6ff;
}

#header-nav {
  overflow: hidden;
  width: 90%;
}

object {
  height: 100%;
  max-height: 100%;
  width: 90%;
}

nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  display: block;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 11px;
  text-decoration: none;
  flex: 1;
}

nav a:hover {
  background-color: #333;
}
