body {
  background-color: #1d1517;
  color: #c9d1d9;
  padding: 0 20px;
  width: 100%;
}

.content {
  padding: 20px 0;
}

a {
  color: #58a6ff;
}
nav {
  display: block;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

nav li {
  display: inline-block;
  width: 100%;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
}
