<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-10">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <footer>
      <script>
        $(function() {
          return $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
            var $el, icon, id;
            $el = $(el);
            id = $el.attr('id');
            icon = '<i class="fa fa-link"></i>';
            if (id) {
              return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
            }
          });
        });
        </script>
        
    </footer>
  </body>
</html>
